.about {
  width: 100%;
  margin: 3rem 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  height: 100%;
}

.about .left {
  text-align: center;
  margin: auto;
  padding: 1rem 1rem;
  max-width: 350px;
}

.about .left p {
  margin: 1.2rem 0;
}

.about .right {
  max-width: 700px;
}

.right .img-container {
  /* display: grid;
  grid-template-columns: repeat(12, 1fr); */
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  text-align: center;
}

.right .img {
  max-width: 50%;
  border: 5px solid #a337ff;
  border-radius: 1rem;
  opacity: .7;
  animation: about-img 2s linear infinite;
}

@keyframes about-img {
  0% {
    border-color: #a337ff;
    transform: scale(.99) translateY(-10px);
  }

  50% {
    border-color: #ff00ff;
    transform: scale(1.02) translateY(10px);
  }

  100% {
    border-color: #a337ff; 
    transform: scale(.99) translateY(-10px);
  }
}


/* .right .top {
  grid-column: 1 / span 8;
  grid-row: 1;
  padding-top: 20%;
  z-index: 6;
}

.right .bottom {
  grid-column: 4/ -1;
  grid-row: 1;
  z-index: 5;
} */

@media screen and (max-width: 740px) {
  .about {
    grid-template-columns: 1fr;
  }

  .about .left {
    padding: 1.5rem;
  }

  .about .img {
    max-width: 90%;
  }
}