.header {
  position: fixed;
  width: 100%;
  height: 90px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  z-index: 10;
}
.portfolio:hover{
color: #a337ff;
}

.header-bg {
  background-color: rgba(0, 0, 0, 0.85);
  transition: 0.5s;
}

.nav-menu {
  display: flex;
}

.nav-menu li {
  padding: 0 1rem;
}


.nav-menu a {
  font-size: 1.2rem;
  font-weight: 500;
  padding-bottom: .5rem  ;
}
.nav-menu a:hover{
  color: #a337ff;
  border-bottom: 1px solid #a337ff;
  padding-bottom: .2rem ;
}

.hamburger {
  display: none;
  cursor: pointer;
}

@media screen and (max-width: 1024px) {
  .hamburger {
    display: initial;
  }

  .nav-menu {
    position: absolute;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    top: 0;
    left: -100%;
    text-align: center;
    width: 100%;
    height: 100vh;
    transition: 0.3s;
    z-index: -3;
    background: rgba(0, 0, 0, 0.9);
  }
  .nav-menu.active {
    left: 0;
  }

  .nav-menu li {
    padding: .5rem 2rem; 
    margin: .5rem 0;
    width: 50%; 
    background-color: #222;
    border-radius: 1rem;
  }

  .nav-menu a {
    font-size: 1.5rem;
  }
}

@media screen and (max-width: 600px) {
  .nav-menu li {
    padding: .5rem 1rem;
  }

  .nav-menu a {
    font-size: 1.2rem;
  }
}
