.password-input {
    width: 100% ;
    padding-bottom:.5rem  ;
}

.password-input .input-box {
    display: flex ;
    align-items: center ;
    justify-content: space-between;
    font-size: 1.2rem;
    background: rgba(255, 255, 255, 0.1);
    border: 2px solid rgba(255, 255, 255, 0.1);
    color: #f4f4f4;
    margin: .5rem 0 ;
    /* outline: 2px solid white; */
}


.password-input .input-box:focus-within {
    outline: 1.5px solid white;
    border-radius: 2px ;
}
.password-input .input-box .input {
    outline: none;
    padding: 10px 18px;
    width: 90%;
    margin: 0;
    color: #f4f4f4;
    border: none;
    background-color: transparent;
}

.password-input .input-box .password-eye{
    margin-right: .5rem ;
}