label {
  color: #fff;
}

.form {
  display: flex;
  flex-direction: column;
  padding: 4rem 1rem;
  margin: auto;
  max-width: 600px;
}

.form label {
  margin-bottom: 0.5rem;
}

.form input,
textarea {
  margin-bottom: 1rem;
  padding: 10px 18px;
  font-size: 1.2rem;
  background: rgba(255, 255, 255, 0.1);
  border-color: rgba(255, 255, 255, 0.1);
  color: #f4f4f4;
}

.edit-btns {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.thumbnail-img {
  width: 100%;
  object-fit: cover;
  border-radius: 12px;
  margin-bottom: 10px;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 0px 10px 0px;
}



.lang-list {
  display: flex;
  flex-wrap: wrap;
}

.lang-item {
  margin-right: 10px;
  margin-bottom: 10px;
  padding: 8px;
  border-radius: 5px;
  color: #f4f4f4;
  background: rgba(255, 255, 255, 0.1);
  border: 2px solid  rgba(255, 255, 255, 0.1);
}

.lang-item:focus {
  border: 2px solid white;
}

.lang-item input {
  all: unset !important;
  width: auto;
}

.lang-item button {
  margin-left: 33px;
  padding: 6px 12px;
  background-color: gray;
  border: none;
  border-radius: 50%;
  cursor: pointer;
}

.lang-item button:hover {
  background-color: rgb(161, 159, 159);
}

.add-lang-button {
  padding: 7px 12px;
  margin-bottom: 10px;
  background-color: gray;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}
.add-lang-button:hover {
  background-color: rgb(161, 159, 159);
}
